.info-bar {
    padding: 2rem 1rem;
    border-top: 1px solid $color-grey-light-2;
    border-bottom: 1px solid $color-grey-light-2;

    &:not(:last-of-type) {
        margin-bottom: 1rem;
    }


    &__heading {
        @include flex($just: space-between, $align: center);
    }

    &__icon {
        display: inline-block;
        font-size: 2.5rem;
        transition: transform .3s;

        &--open {
            transform: rotate(90deg);
        }
    }

    &__content {
        margin-top: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s, margin-top .3s;
    }

    &__content--open {
        margin-top: 1rem;
        max-height: 20rem;
    }

}